[submodule "contrib/deterministic-build/electrum-locale"]
	path = contrib/deterministic-build/electrum-locale
	url = https://github.com/dime-coin/electrum-locale.git
[submodule "electrum/www"]
	path = electrum/plugins/payserver/www
	url = https://github.com/dime-coin/electrum-dimecoin.git
