# If you want Electrum-Dime to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Dimecoin Client
Exec=electrum %u
GenericName[en_US]=Dimecoin Wallet
GenericName=Dimecoin Wallet
Icon=electrum
Name[en_US]=Electrum Dimecoin Wallet
Name=Electrum Dimecoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;x-scheme-handler/lightning;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
